@import 'normalize';

// 1rem = fontSize px
// 1px = (1 / fontSize)rem
$fontSize: 37.5;
@function pxTorem($px) {
    @return ($px / $fontSize) + rem
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}